.MainContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
        "sidebar maps";
}

.LocalMaps {
    grid-area: maps;
    overflow: auto;
    max-height: 100dvh;
}

.GlobalMaps {
    grid-area: maps;
}

.SectionHeader {
    padding: 9px;
    font-size: 15pt;
    background-color: rgb(80, 80, 80);
}
