.CollectionRoot {

}

.CollectionHeader {
    background: white;
    color: rgb(40, 40, 40);
    padding: 3px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
}

.CollectionItems {
    display: grid;
    grid-auto-columns: 128px;
    /*gap: 9px;*/
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
    padding: 9px;
    margin: 3px;
}

.Dragging {
    border: 3px solid aqua;
    margin: 0px;
    background-clip: padding-box;
}

.Disclosure {
    height: 24px;
}

.Empty {
    display: block;
}