.CategoryRoot {

}

.CategoryHeader {
    background: white;
    color: rgb(40, 40, 40);
    padding: 3px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
}

.CategoryItems {
    display: grid;
    grid-auto-columns: 300px;
    gap: 9px;
    padding: 9px;
    grid-auto-flow: column;
    margin: 3px;
}

.Dragging {
    border: 3px solid aqua;
    margin: 0px;
    background-clip: padding-box;
}

.Disclosure {
    height: 24px;
}