.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modalContainer {
    background: rgb(50, 50, 50);
    width: 60vw;
    height: 500px;
    border-radius: 10px;

    display: grid;
    grid-template-areas: "image name" "image ." "image controls";
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr 30%;
    justify-items: stretch;
    align-items: stretch;
}

.image {
    grid-area: image;
    background: rgb(64, 64, 64);
    object-fit: contain;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.name {
    grid-area: name;
    font-size: 20pt;
    font-weight: 600;
    padding: 10px;

    display: grid;
    grid-template-areas: "name rename" "dimensions dimensions";
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content;
}

.nameString {
    grid-area: name;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.renameButton {
    grid-area: rename;
    cursor: pointer;
}

.dimensions {
    grid-area: dimensions;
    font-size: 13pt;
    color: rgb(118, 118, 118);
}

.controls {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.controlButton {
    background: rgb(64, 64, 64);
    font-size: 15pt;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}