.SidebarCategory {
    padding: 9px 6px;
    color: white;
    background: rgb(40, 40, 40);
    border-radius: 10px;
}

.SidebarCategory:hover {
    /*background-color: rgba(0, 80, 150, 0.5);*/
}

.SidebarLink {
    color: white;
    text-decoration: none;
}

.Dragging {
    padding: 6px 3px;
    border: 3px solid aqua;
}