.Sidebar {
    grid-area: sidebar;
    border-right: 1px solid white;
}

.SidebarInset {
    position: sticky;
    top: 0;

    max-height: 100dvh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.SidebarTitle {
    padding: 9px;
    font-size: 15pt;
    background-color: rgb(80, 80, 80);
}

.SearchArea {
    padding: 9px;
    border: none;
    background-color: rgb(60, 60, 60);
    color: white;
}